h1{
    text-align: center;
}

p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:green;
}

.palabra1 {
    letter-spacing:-1.5px;
    word-spacing: 1px;
    text-transform: capitalize;
}

.palabra2 {
    letter-spacing:-1.5px;
    word-spacing: 1px;
    text-transform: capitalize;
}

.palabra3 {
    letter-spacing:-1.5px;
    word-spacing: 1px;
    text-transform: capitalize;
}